@font-face {
    font-family: "Spongeboy" ;
    src: url(./assets/fonts/Spongeboy\ Me\ Bob.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    font-size: 3.2rem;
    font-family: "Spongeboy";
    color: #5dccd3;
    text-shadow: .2rem .2rem .2rem #f7ef79;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to top, #f7ef79 ,#5dccd3 25% );
}

.conteudo{
    box-shadow: 0 0.3rem #6b6b6b ;
    padding: 4rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column ;
    gap: 3rem;
    background-color: bisque;
}


.perfil{
    height: 15rem;
    margin: 2rem;
}

.redes-sociais{
    display: flex;
    justify-content: space-between;
}

.redes-sociais > img{
    height: 4rem;
}